<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" type="text/css">
    <title>Restablecer Contraseña</title>
</head>
<body>
{% block content %}
    {% csrf_token %}
    {% csrf_token %}
<!-- Container del navbar del menu -->
        <div class="container-fluid fondo2">
        <br>
            <div class="row align-items-center fondo2">
                <div class="col-md-3 col-xs-12 bordes0">
                    <a href="../"><img class="" src="{% static 'img/page/logo.png' %}" alt="misperris_logo"></a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="#">¿Quienes Somos? </a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="#Servicios">Servicios </a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="#Contacto">Contactanos</a>
                </div>
                {% if user.is_authenticated %}
                {% else %}
                <div class="col-md-2 col-xs-12 bordes">
                    {% if user.is_authenticated %}
                    {% else %}
                    <a class="nav-link text" href="/registro/">Registrar</a>
                    {% endif %}
                </div>
                {% endif %}
                {% if user.is_authenticated %}
                <div class="col-md-2 col-xs-12 bordes">
                    {% if user.is_authenticated %}
                        <li class="nav-item text">Bienvenido {{usuario}} <a href="{% url 'cerrar_session' %}" class="text">Cerrar Sesión</a> </li>
                    {% else %}
                        <a class="nav-item text"><a href="{% url 'login'%}" class="text">Ingresar</a></a>
                    {% endif %}
                </div>
                {% else %}
                <div class="col-md-1 col-xs-12 bordes">
                    {% if user.is_authenticated %}
                        <li class="nav-item text">Bienvenido {{usuario}} <a href="{% url 'cerrar_session' %}" class="text">Cerrar Sesión</a> </li>
                    {% else %}
                        <a class="nav-item text"><a href="{% url 'login'%}" class="text">Ingresar</a></a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        <br>
        </div>
<br><br><br>
{% block content %}
<section class="PasswordResetConfirm" style="text-align: center">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <h3>Restablecer contraseña.</h3>
        <form method="post">
            {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="formGroup">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
            <div class="formGroup">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>
            <div class="formGroup">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            <button class="btn btn-success" type="submit">Restablecer"</button>
        </form>
      </div>
    </div>
</section>
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.validate.js' %}"></script>
<script src="{% static 'js/lightbox.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}
</body>
</html>
