<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" type="text/css">
    <title>Formulario Editar Perro</title>
</head>
<body>
    {% csrf_token %}
<!-- Container del navbar del menu -->
        <div class="container-fluid fondo2">
        <br>
            <div class="row align-items-center fondo2">
                <div class="col-md-3 col-xs-12 bordes0">
                    <a href="../../"><img class="" src="{% static 'img/page/logo.png' %}" alt="misperris_logo"></a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="#">¿Quienes Somos? </a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="../../#Servicios">Servicios </a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="../../#Contacto">Contactanos</a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    {% if user.is_authenticated %}
                    <a class="nav-link text" href="/registro/editarPersona/{{e.id}}">Editar usuario</a>
                    {% else %}
                    <a class="nav-link text" href="/registro/">Registrar</a>
                    {% endif %}
                </div>
                <div class="col-md-1 col-xs-12 bordes">
                    {% if user.is_authenticated %}
                        <li class="nav-item text"><b>Bienvenido {{user.username}} | </b><a href="{% url 'cerrar_session' %}" class="text">Cerrar Sesión</a> </li>
                    {% else %}
                        <a class="nav-item text"><a href="{% url 'login'%}" class="text">Ingresar</a></a>
                    {% endif %}
                </div>
            </div>
        <br>
        </div>
        <br><br>
    <h2>Edicion de: {{perro.nombrePerro}}</h2>
    <br><br>
<div class="container">
    <form action="/registro/editadoPerro/{{perro.id}}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="foto">Foto Perrito</label>
                    <input type="file" name="foto" required id="foto" class="form-control" accept="image/x-png,image/jpeg" >
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="nombrePerro">Nombre</label>
                    <input type="text" value="{{perro.nombrePerro}}" name="nombrePerro" required id="nombrePerro" class="form-control" placeholder="Ingrese el Nombre del perrito">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="raza">Raza Predominante</label>
                    <input type="text" value="{{perro.raza}}" name="raza" id="raza" class="form-control" required placeholder="Ingrese la raza del perrito">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <input type="text" value="{{perro.descripcion}}" name="descripcion " required id="descripcion" class="form-control" placeholder="Ingrese una descripcion para el perrito">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select name="estado" required id="estado" class="form-control" selected="{{per.estado}}">
                        <option value="Rescatado">Rescatado</option>
                        <option value="Disponible">Disponible</option>
                        <option value="Adoptado">Adoptado</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="reset" class="btn btn-danger btn-block" value="Limpiar">
            </div>
            <div class="col-md-6">
                <input type="submit" class="btn btn-outline-success btn-block" value="Editar perrito">
            </div>
        </div>
    </form>
</div>
<br> <br>


</form>

</div>
</form>
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.validate.js' %}"></script>
<script src="{% static 'js/lightbox.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>