.alto-maximo{
    max-height: 600px;
}
.alto-minimo{
    min-height: 200px;
}
.bordes{
    border: 2px;
    border-color: white;
}
.fondo{
    background-color: rgb(133, 212, 183);
}
.fondo2{
    background-color:  rgb(109, 204, 170);
}
.fondo3{
    background-color: whitesmoke;
    opacity: 0.7;
}
.text{
    color: white;
    text-align: center;
}
.text2{
    color: black;
}
.text3{
    color:rgb(0, 128, 38);
}
.text4{
    color:rgb(109, 204, 170);
}
.text5{
    color:white;
}

.iconografia li{
    display: inline;
    color: white;
}
.centrar{
    display: block;
}
.crownfundingheight{
    height: 200px;
}
.error-control {
    border: 1px solid red;
  }
label.error {
    color: red;
    width: 300px;
    font-size: 0.8em;
    margin-top: -5px;
    margin-bottom: 10px;
}
.float{
    float: right;
}
.textalign{
    text-align: right;
}
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}
